
<template>
<div class="uk-width-xlarge">
    <form  v-on:submit.prevent="addArticle()">
        <fieldset class="uk-fieldset">

            <legend class="uk-legend">Start Blogging Now</legend>

            <div class="uk-margin">
                <input v-model="title" class="uk-input" v-bind:class="{ 'uk-form-danger': errors.first('title') }" v-validate="'required|min:8|max:50'" type="text" placeholder="Title" name="title">
                <span class="uk-text-small uk-text-danger">{{ errors.first('title') }}</span>
            </div>

            <div class="uk-margin">
                <textarea v-model="description" class="uk-textarea uk-height-small" style="resize:none" v-bind:class="{ 'uk-form-danger': errors.first('description') }"  v-validate="'required|min:30|max:200'" name="description" placeholder="Short Description of article"></textarea>
                <span class="uk-text-small uk-text-danger">{{ errors.first('description') }}</span>
            </div>
            
            <div class="uk-margin">
                <select v-model="article_category_id" class="uk-select" v-bind:class="{ 'uk-form-danger': errors.first('category') }"  v-validate="'required'" name="category">
                    <option value="">Choose category of article</option>
                    <option :value="articleCategory.id" v-for="articleCategory in articleCategories" :key="articleCategory.id">{{articleCategory.name}}</option>
                </select>
                <span class="uk-text-small uk-text-danger">{{ errors.first('category') }}</span>
            </div>

            <div class="uk-margin">
                <ckeditor :editor="editor" v-model="content"  tag-name="textarea" :config="editorConfig"></ckeditor>
                <span class="uk-text-small uk-text-danger" v-if="contentError && content.length<=0"> Content for blog is required</span>
            </div>

            <div class="uk-margin">
                <button class="uk-button uk-button-primary uk-button-large">Post</button>
            </div>

        </fieldset>
    </form>
</div>
</template>

<script>
import Vue from 'vue';
import CKEditor from '@ckeditor/ckeditor5-vue';

Vue.use( CKEditor );
import axios from 'axios'
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';


    export default {
        data() {
            return {
                //inputs
                description:'',
                title:'',
                content:'',
                article_category_id:'',
                articleCategories:[],
                contentError:false,
                url:window.location.origin,
                editor: ClassicEditor,
                editorConfig: {
                    // The configuration of the rich-text editor.
                }
            };
        },
        methods:{

            addArticle(){
                this.$validator.validateAll();

                if (this.errors.any()) {
                    return false;
                }

                if(this.content==''){
                    this.contentError=true;
                    return false;
                }

                axios.post(this.url+'/blog/add-article',
                    {title:this.title,description:this.description,content:this.content,article_category_id:this.article_category_id}
                )
                .then(response => {
                    if(response.data.saved=='success'){
                        window.location.href = this.url+'/blog/';
                    }
                })
                .catch(e => {
                });

            }
        },
        beforeMount(){

            axios.get(this.url+'/blog/get-article-categories')
            .then(response => {
                this.articleCategories = response.data.articleCategories;
            })
            .catch(e => {
            });

        
        }

        
    }
</script>
