
<template>
<div>
    <ul class="uk-comment-list" >
        <li v-for="comment in comments" :key="comment.id">
            <article class="uk-comment uk-visible-toggle" tabindex="-1">
                <header class="uk-comment-header uk-position-relative">
                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-comment-avatar" src="images/avatar.jpg" width="80" height="80" alt="">
                        </div>
                        <div class="uk-width-expand">
                            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{comment.content}}</a></h4>
                            <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">{{comment.updated_at}}</a></p>
                        </div>
                    </div>
                    <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Reply</a></div>
                </header>
                <div class="uk-comment-body">
                    <p></p>
                </div>
            </article>
                <ul>
                    <li v-for="commentreply in comment.commentreply" :key="commentreply.id">
                        <article class="uk-comment uk-comment-primary uk-visible-toggle" tabindex="-1">
                            <header class="uk-comment-header uk-position-relative">
                                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                    <div class="uk-width-auto">
                                        <img class="uk-comment-avatar" src="images/avatar.jpg" width="80" height="80" alt=""/>
                                    </div>
                                    <div class="uk-width-expand">
                                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{commentreply.content}}</a></h4>
                                        <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">{{commentreply.updated_at}}</a></p>
                                    </div>
                                </div>
                                <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Reply</a></div>
                            </header>
                            <div class="uk-comment-body">
                                <p></p>
                            </div>
                        </article>
                    </li>
                </ul>
        </li>
    </ul>
    <textarea type="text" class="uk-text-area uk-form-width-large" rows="5" style="resize:none;" placeholder="Add Comment"></textarea>
</div>
</template>

<script>
import Vue from 'vue';

import axios from 'axios'

    export default {
        data() {
            return {
                comments:[],
                url:window.location.origin,
            };
        },
        props: ['article_id'],
        methods:{

        },
        beforeMount(){
                axios.post(this.url+'/blog/get-comments/'+this.article_id,
                    
                )
                .then(response => {
                    this.comments=response.data.comments;

                })
                .catch(e => {
                });
        
        }

        
    }
</script>