
<template>
    <form v-on:submit.prevent="login()">
    <fieldset class="uk-fieldset">

        <div class="uk-margin">
            Username
            <input name="username" v-bind:class="{ 'uk-form-danger': errors.first('username') }" v-validate="'required|min:5|max:30'" class="uk-input uk-form-small" type="text" placeholder="Username" v-model="username">
            <span class="uk-text-small uk-text-danger">{{ errors.first('username') }}</span>
        </div>

        <div class="uk-margin">
            Password
            <input class="uk-input uk-form-small" name="password" v-bind:class="{ 'uk-form-danger': errors.first('password') }" v-validate="'required|min:8'" type="password" placeholder="password" v-model="password">
            <span class="uk-text-small uk-text-danger">{{ errors.first('password') }}</span>
        </div>

        <button type="submit" class="uk-button uk-button-primary ">{{status}}</button>
    </fieldset>
    </form>
</template>

<script>
import Vue from 'vue';

import axios from 'axios'

    export default {
        data() {
            return {
                //inputs
                username:'',
                password:'',
                status:'Login',
                url:window.location.origin,
            };
        },
        methods:{

            login(){
                this.$validator.validateAll();

                if (this.errors.any()) {
                    return false;
                }

                axios.post(this.url+'/blog/login',
                    {username:this.username,password:this.password}
                )
                .then(response => {
                    if(response.data.saved=='success'){
                        this.status='Redirecting....';
                        window.location.href = this.url+'/blog/';
                    }
                    if(response.data.user==false){
                        this.status='Redirecting....';
                        window.location.href = this.url+'/blog/signup';
                    }
                })
                .catch(e => {
                });

            }
        },
        beforeMount(){

        
        }

        
    }
</script>